#
# Deals2Buy.com
#
# filename.extension.attribute = attribute
deals2buy.title = title
deals2buy.date = date_added
deals2buy.expires = date_expires
deals2buy.price = price
deals2buy.source = source
deals2buy.list_price = list_price

#
# 8coupons.com
# 
#
8coupons.title = title
8coupons.date = date_added
8coupons.expires = date_expires
8coupons.source = source
